body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
/* section-1 */
.text-color{
    color: orange;
}
#header-area{
     display: flex;
}
.header-area-part{
        width: 50%;
        padding-left: 5%;
}
.header-area-part img{
    width: 100%;
}
h1{
    font-size: 100px;
}
.link-color{
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    background-image:linear-gradient(180deg, red,tomato);
      border-radius: 10px;
}
/* section-2 */
#about-area{
      display: flex;
      background-image: url(background-img/pic1.jpg);
      background-repeat: no repeat;  
}
.about-area-part{
      width: 50%;
      padding-left: 5%;
}
.about-area-part img{
    width: 40%;
    padding-left: 40%;
}
h2{
    font-size: 100px;
}
/* section-3 */
#Recipies-area{
    padding: 5%;
}
.Recipies-area-part{
    display: flex;
    width: 100%;

}
.Recipies-area-part div{
    box-shadow: 5px 7px 40px gray;
    width: 80%;
    margin:40px;
    border-radius: 40px;
}
.Recipies-area-part img{
    width:90%; 
    padding: 5%;     
}
.Recipies-area-part p{
    width: 50%;
    padding: 5%;
 
}
.Recipies-area-part h3{
    font-size: 50px;
    padding: 5%;
}
#Recipies-area h2{
    text-align: center;
    font-size: 40px;
}
.text-size{
    text-align: center;
}
/* sction-4 */
#following{
    padding: 5%;
}
.following-area {
    display: flex;
    width: 90%;
    box-shadow:5px 7px 40px gray;
    padding: 5%;
    border-radius: 40px;
    
}
#following-left{
    width: 100%;  
   
}
/* part-5 */
footer{
    background-color:black;
    width: 100%;
    height: 100%;
    padding: 5%;
}
footer p{
    text-align: center;
    color: lightgrey;
}
footer h2{
    text-align: center;
    color: cornflowerblue;
}